[DEVICE]
Name=STM32F107VC
Clock=72000000
[BUILD_TYPE]
Value=0
[FILES]
Count=1
File0=G2C_Matrix_RGB_STM.c
[HEADERS]
Count=3
File0=G2C_Matrix_RGB_config.h
File1=G2C_Matrix_RGB_types.h
File2=G2C_Matrix_RGB_timer.h
[PLDS]
Count=1
File0=G2C_Matrix_RGB.pld
[Useses]
File0=UART
File1=Conversions
File2=C_String
File3=G2C_Matrix_RGB_STM32_M3
File4=G2C_STM32_M3
File5=easymx_v7_STM32F107VC
File6= SPI
File7=//I2C
File8=Matrix_RGB_STM32_M3
File9=//PWM
File10=//ADC
Count=11
